ul {
    list-style: none;
}

.list > div > div * {
    margin: 10px;
}

.user-input {
    max-width: 400px;
}

.card {
    max-width: 1000px;
    min-height: 500px;
   
}

.cb {
    margin-top: auto;
    margin-bottom: auto;
}

.x-button {
    border-radius: 20px;
    background-color: rgb(218, 19, 19);
    padding: 10px;
    line-height: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.title {
    color: white;
    background-color: rgba(95, 158, 160, 0.556);
}

input[type="checkbox"]{
  
    width: 30px;
    height: 30px;
  
    }

.li-text {
    background-color: rgba(129, 250, 234, 0.762);
    color: brown;
    font-size: 16;
    font-weight: 600;
}


body {
    background-image: url('kitty.png');
    background-repeat: repeat;
}

.container {
    background-color: rgba(255, 255, 255, 0.85);
    border: none;
    margin-top: auto;
    margin-bottom: auto;
}

#cbtop {
    margin-left: 30px;
}

.vertical-center {
    min-height: 100%; 
    min-height: 100vh; 
  
    display: flex;
    align-items: center;
  }

.vertical-align {
    align-items: center;
}

.bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    height: fit-content;
    line-height: 24px;
    width: 300px;
    background: rgb(255, 133, 96);
    border-radius: 40px;
    bottom: 10px;
    padding: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  .bubble-bottom-right:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid  rgb(255, 133, 96);
    border-right: 12px solid transparent;
    border-top: 12px solid  rgb(255, 133, 96);
    border-bottom: 20px solid transparent;
    left: 280px;
    bottom: 30px;
  }
  

  @media screen and (max-width: 600px) {
    .bubble {
        width: 150px;
      }   
    .bubble-bottom-right:before {
        left: 130px;
      }
      
  }

  .tophead > * {
      margin-top: 10px;
  }